.sideGround{
  box-sizing: border-box;
  height: 150vh;
  --bs-bg-opacity: 1;
  --bs-dark-rgb: 33,37,41;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.sideGround li:hover{
  background-color: rgb(52, 52, 63);
  color: white;

}
.card-img {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}